<form action="/Login/Autentica" method="post">
    <label for="usuario">Nome:</label>
    <input type="text" id="nome" name="nome" class="form-control" />

    <label for="usuario">Senha:</label>
    <input type="password" id="senha" name="senha" class="form-control" />

    <input type="submit" value="Entrar" />
</form>