@{
    ViewBag.Title = "Flores típicas de cada estação";
}

<h2></h2>
<div >
    <img title="Conheça algumas flores típicas de cada estação" id="img_home" class="img-rounded" src="http://plantaseflores.com/wp-content/uploads/2014/05/Flores-Rojas-Lluvia-Agua_01.jpg" />       
</div>

