@{
    ViewBag.Title = "Verão";
}

<h2>Flores do Verão</h2>

<a target="_blank" href="http://www.cultivando.com.br/plantas_detalhes/phalaenopsis.html"><img title="Orquídea Phalaenopsis" src="http://i0.statig.com.br/fw/6f/fb/7u/6ffb7utd6361lhlu4ooubmcsx.jpg" /></a>
<a target="_blank" href="http://www.orquideasnoape.com.br/2014/07/denphal-uma-orquidea-bela-e-polemica.html"><img title="Orquídea Demphale" src="http://i0.statig.com.br/fw/9j/oy/vs/9joyvsz7aijvkdjaykbkhqhqf.jpg" /></a>
<a target="_blank" href="http://www.cultivando.com.br/plantas_detalhes/lisianto.html"><img title="Lisianto" src="http://i0.statig.com.br/fw/6h/5a/f5/6h5af5pfiplybzzf3xdtchsgy.jpg" /></a>
<a target="_blank" href="http://www.jardineiro.net/plantas/astromelia-alstroemeria-hybrida.html"><img title="Alstroeméria" src="http://i0.statig.com.br/fw/de/r3/kr/der3krb3ck6m6uuug2h4ghpof.jpg" /></a>
<a target="_blank" href="http://www.cultivando.com.br/plantas_detalhes/rosa.html"><img title="Rosa" src="http://i0.statig.com.br/fw/7s/fb/cj/7sfbcjc6qiad7kmyxto9qikqr.jpg" /></a>
<a target="_blank" href="http://www.cultivando.com.br/plantas_detalhes/cravo.html"><img title="Cravo" src="http://i0.statig.com.br/fw/9r/g4/4a/9rg44a3jdyyvoqit5otxe2t20.jpg" /></a>
<a target="_blank" href="http://www.cultivando.com.br/plantas_detalhes/hortensia.html"><img title="Hortênsia" src="http://i0.statig.com.br/fw/cb/qt/lj/cbqtlj3qahjl4i2hbez2qgxz6.jpg" /></a>

