
@{
    ViewBag.Title = "Outono";
}

<h2>Flores do Outono</h2>

<a target="_blank" href="http://www.jardineiro.net/plantas/camelia-camellia-japonica.html"><img title="Camélia" src="http://www.growfruitandveg.co.uk/grapevine/attachments/general-chitchat/178d1145964253-camelias-flowering-camellia-copy-2.jpg" /></a>
<a target="_blank" href="http://www.jardineiro.net/plantas/catleia-cattleya-spp.html"><img title="Orquídea Cattleya" src="http://upload.wikimedia.org/wikipedia/commons/9/9b/Cattleya_amethystoglossa.jpg" /></a>
<a target="_blank" href="http://www.jardineiro.net/plantas/azaleia-rhododendron-simsii.html"><img title="Azaleia" src="http://www.ameninadodedoverde.com.br/site/wp-content/uploads/2012/05/rhododendron-simsii.jpg" /></a>
<a target="_blank" href="http://www.jardineiro.net/plantas/poinsetia-euphorbia-pulcherrima.html"><img title="Bico-de-papagaio" src="http://www.cemara.com.br/blog/wp-content/uploads/2012/05/bico-de-papagaio.jpg" /></a>
<a target="_blank" href="http://www.jardineiro.net/plantas/copo-de-leite-zantedeschia-aethiopica.html"><img title="Copo-de-leite" src="http://www.flores-online.com/wp-content/uploads/2013/01/Copo-de-Leite.jpg" /></a>
<a target="_blank" href="http://www.jardineiro.net/plantas/begonia-begonia-elatior.html"><img title="Begônia" src="http://images.forwallpaper.com/files/images/6/6cab/6cab41bb/783650/begonia.jpg" /></a>
<a target="_blank" href="http://www.jardineiro.net/plantas/anturio-anthurium-andraeanum.html"><img title="Antúrio" src="http://3.bp.blogspot.com/-SVmTaIyOgak/TdvvbpxLFYI/AAAAAAAAApw/jdtHCEDT2B4/s1600/018.JPG" /></a>